<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3"></script>

</head>
<body>
    <div class="app-container" id="app">
        <h1 class="app-header">Task List</h1>

        <div class="add-task">
            <input type="text" autocomplete="off" placeholder="Add New Task..." class="task-input" v-model="tasks.name" @keyup.enter="newItem">
            <input type="submit" value="➕" class="submit-task" title="Add Task" @click="newItem">
        </div>

        <ul class="task-list">
            <li class="task-list-item" v-for="task in tasks">
                <label class="task-list-item-label">
                    <input type="checkbox">
                    <span>{{task.name}}</span>
                </label>
                <span class="delete-btn" title="Delete Task" @click="delItem(task)">{{task.del}}</span>
            </li>
        </ul>
    </div>

    <script src="app.js"></script>

</body>
</html>