<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Color Swatches</title>
	<script src="https://cdn.tailwindcss.com/"></script>
	<script src="https://unpkg.com/vue@3"></script>
</head>
<body>
	<div id="app">
		<h1 class="text-center text-5xl my-5 mx-10 bg-white/75 rounded">{{ pageTitle }}</h1>
		<!--
			Vue Shorthands:
				  v-on:click  ->  @click
				v-bind:class  ->  :class
		-->
		<form @submit.prevent="addNewSwatch" class="m-10 p-2 bg-white/75 rounded">
			<label for="new-swatch">Add a New Swatch:</label>
			<input
				v-model="newSwatch" id="new-swatch" type="text"
				class="border-black border-2 rounded-sm ml-5"
			/>
			<button
				type="submit"
				class="border-black border-2 rounded-md px-3 ml-5"
			>
				Add
			</button>
		</form>
		<h3 class="text-3xl text-center my-3 mx-10 bg-white/75 rounded">
			Click a Swatch to Paint the Wall!
		</h3>
		<main class="flex flex-wrap justify-evenly">
			<figure
				v-for="swatch in swatches"
				@click="paintWall(swatch)"
				class="
					border-black border-4 rounded-md h-40 w-40 m-5
					flex flex-col justify-center items-center cursor-pointer
				"
				:style="`background-color: ${swatch}`"
				:id="swatch"
			>
				<p>
					<span class="bg-white/75 p-3 rounded">
						{{ swatch.length > 15 ? 'pretty color' : swatch }}
					</span>
				</p>
			</figure>
		</main>
	</div>
	<script>
		const App = {
			data () {
				return {
					pageTitle: 'Color Swatches',
					newSwatch: '',
					swatches: []
				}
			},
			created () { // Vue Lifecycle Hooks (created, mounted, etc.) will run at certain
				// points in the vue lifecycle.  created() will run when the app is first created
				for (let i=0; i<10; i++) {
					const hue = Math.floor(Math.random() * 360)
					this.swatches.push(`hsl(${hue}, 50%, 50%)`)
				}
			},
			methods: {
				addNewSwatch () {
					this.swatches.push(this.newSwatch)
					this.newSwatch = ''
				},
				paintWall (swatch) {
					document.body.style.backgroundColor = swatch
				}
			}
		}

		const app = Vue.createApp(App)
		app.mount('#app')
	</script>
</body>
</html>