<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FavQs in Vue</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize-css@2.3.1/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="js/script.js" defer></script>
</head>
<body>
    <div id="app">
        <header>
            <h1>
                Quotes & Stuff
            </h1>
            <h5>
                (just quotes, no stuff)
            </h5>
        </header>
        <main>
            <nav>
                <form @submit.prevent="wasSearchTrue(); updateSearchTerm(); resetPage(); getQuotes();">
                    <input type="text" v-model="searchTermField" id="search-term" placeholder="Enter a search term:">
                    <select v-model="searchType" id="search-type">
                        <option v-for="type in searchTypes" :value="type">{{ type }}</option>
                    </select>
                    <button type="submit">search</button>
                </form>
            </nav>
            
            <h2 v-if="wasSearch">{{ searchTerm }} quotes:</h2>
            
            <div v-for="quote in quotesObj">
                <p>{{ quote.body }}</p>
                <p>--{{ quote.author }}</p>
            </div>



            <button @click="wasSearchFalse(); clearSearchField(); getQuotes();">rando quotes</button>
            <button v-if="firstPage" @click="prevPage(); getQuotes();">prev</button>
            <button v-if="lastPage" @click="nextPage(); getQuotes();">next</button>




        </main>
    </div>
</body>
</html>