<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Booper{% endblock %}{% block title_addon %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            {% block nav %}
            <a href="{% url 'posts:index' %}">Booper Home</a>
            {% if request.user.is_authenticated %}
            <button onclick="toggleThings(['new_post_form'],['close_new_post_button'],['open_new_post_button'])" id="open_new_post_button">New Boop</button>
            <button onclick="toggleThings([],['open_new_post_button'],['new_post_form','close_new_post_button'])" style="display:none" id="close_new_post_button">Cancel</button>
            <form action="{% url 'users:logout_user' %}" style="display:inline-block">
                <input type="submit" value="Logout">
            </form>
            <div id="new_post_form" style="display:none">
                <form action="{% url 'posts:new' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in new_post_form %}
                    <div class="">
                    {{ field }}
                    </div>
                    {% endfor %}
                    <input type="submit" value="submit">
                </form>
            </div>
            {% else %}
            <button onclick="toggleThings(['login_form'],['close_login_button'],['open_login_button'])" id="open_login_button">Login</button>
            <button onclick="toggleThings([],['open_login_button'],['login_form','close_login_button'])" style="display:none" id="close_login_button">Cancel</button>
            <button onclick="toggleThings(['register_form'],['close_register_button'],['open_register_button'])" id="open_register_button">Register</button>
            <button onclick="toggleThings([],['open_register_button'],['register_form','close_register_button'])" style="display:none" id="close_register_button">Cancel</button>

            <div id="login_form" style="display:none">
                <form action="{% url 'users:login_user' %}" method="POST" class="">
                    {% csrf_token %}
                    <div class="">
                        <input type="text" id="username" name="username" class="" placeholder="Enter your username">
                    </div>
                
                    <div class="">
                        <input type="password" id="password" name="password" class="" placeholder="Enter your password">
                    </div>
                
                    <div class="">
                        <input type="submit" value="Login" class="">
                    </div>
                </form>
            </div>
            <div id="register_form" style="display:none">
                <form action="{% url 'users:register_user' %}" method="POST" class="">
                    {% csrf_token %}
                    
                    <div class="">
                        <input type="text" id="username" name="username" class="" placeholder="Enter your username">
                    </div>
                
                    <div class="">
                        <input type="password" id="password1" name="password1" class="" placeholder="Enter your password">
                    </div>
                
                    <div class="">
                        <input type="password" id="password2" name="password2" class="" placeholder="Re-enter your password">
                    </div>
                
                    <div class="">
                        <input type="submit" value="Register" class="">
                    </div>
                </form>
            </div>

            {% endif %}
            {% endblock %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% block footer %}
        &copy; 2022 Booper, Inc
        {% endblock %}
    </footer>
    <script>
        function openThingBlock(open) {
            document.getElementById(open).style.display = "block";
        }
        function openThingInline(open) {
            document.getElementById(open).style.display = "inline-block";
        }
        function closeThing(close) {
            document.getElementById(close).style.display = "none";
        }
        function toggleThings(openBlock, openInline, close) {
            openBlock.forEach(openThingBlock);
            openInline.forEach(openThingInline);
            close.forEach(closeThing);
        }
    </script>
</body>
</html>