<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Booper{% endblock %}{% block title_addon %}{% endblock %}</title>

    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <header class="container">
        <nav class="pb-3 pt-3">
            {% block nav %}
            <div class="nav_logo">
                <a href="{% url 'posts:index' %}"><img src="{% static 'logo.png' %}" alt="Booper" class="nav_logo"></a>
            </div>
            <div class="nav_right">
                {% if request.user.is_authenticated %}
                <div class="nav_buttons">
                    <button onclick="toggleThings(['new_post_form'],['close_new_post_button'],['open_new_post_button'])" class="m-1" id="open_new_post_button">New Boop</button>
                    <button onclick="toggleThings([],['open_new_post_button'],['new_post_form','close_new_post_button'])" class="init_hidden m-1" id="close_new_post_button">Cancel</button>
                    <form action="{% url 'users:logout_user' %}" style="display:inline-block">
                        <button type="submit" class="m-1">Logout</button>
                    </form>
                </div>
                <div id="new_post_form" class="init_hidden">
                    <form action="{% url 'posts:new' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in new_post_form %}
                        <div class="">
                        {{ field }}
                        </div>
                        {% endfor %}
                        <input type="submit" value="Post New Boop">
                    </form>
                </div>
                {% else %}
                <div class="nav_buttons">
                    <button onclick="toggleThings(['login_form'],['close_login_button'],['open_login_button'])" class="m-1" id="open_login_button">Login</button>
                    <button onclick="toggleThings([],['open_login_button'],['login_form','close_login_button'])" class="init_hidden m-1" id="close_login_button">Cancel</button>
                    <button onclick="toggleThings(['register_form'],['close_register_button'],['open_register_button'])" class="m-1" id="open_register_button">Register</button>
                    <button onclick="toggleThings([],['open_register_button'],['register_form','close_register_button'])" class="init_hidden m-1" id="close_register_button">Cancel</button>
                </div>
    
                <div id="login_form" class="init_hidden">
                    <form action="{% url 'users:login_user' %}" method="POST" class="">
                        {% csrf_token %}
                        <div class="">
                            <input type="text" id="username" name="username" class="" placeholder="Enter your username">
                        </div>
                    
                        <div class="">
                            <input type="password" id="password" name="password" class="" placeholder="Enter your password">
                        </div>
                    
                        <div class="">
                            <input type="submit" value="Login" class="">
                        </div>
                    </form>
                </div>
                <div id="register_form" class="init_hidden">
                    <form action="{% url 'users:register_user' %}" method="POST" class="">
                        {% csrf_token %}
                        
                        <div class="">
                            <input type="text" id="username" name="username" class="" placeholder="Enter your username">
                        </div>
                    
                        <div class="">
                            <input type="password" id="password1" name="password1" class="" placeholder="Enter your password">
                        </div>
                    
                        <div class="">
                            <input type="password" id="password2" name="password2" class="" placeholder="Re-enter your password">
                        </div>
                    
                        <div class="">
                            <input type="submit" value="Register" class="">
                        </div>
                    </form>
                </div>
    
                {% endif %}
            </div>
            {% endblock %}
        </nav>
    </header>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <footer class="container">
        {% block footer %}
        &copy; 2022 Booper, Inc
        {% endblock %}
    </footer>
    <script>
        function openThingBlock(open) {
            document.getElementById(open).style.display = "block";
        }
        function openThingInline(open) {
            document.getElementById(open).style.display = "inline-block";
        }
        function closeThing(close) {
            document.getElementById(close).style.display = "none";
        }
        function toggleThings(openBlock, openInline, close) {
            openBlock.forEach(openThingBlock);
            openInline.forEach(openThingInline);
            close.forEach(closeThing);
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>