@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Inter:wght@500&display=swap');

h1 {
	/* for colors, you can use named css colors, hex values (like this one), rgb, hsl, and others */
	color: #8fecff;
	/* I found this font at fonts.google.com */
	font-family: 'Fugaz One', cursive;
	/* you can use px (pixels) and other units of measurement for size values */
	font-size: 50px;
	/* to align text in a block element, use text-align */
	text-align: center;
	/* background-color accepts the same values as color, we used rgba (a is the alpha channel, for opacity) */
	background-color: rgba(0, 0, 0, 0.5);
	/* text-transform can change the case of text */
	text-transform: uppercase;
}

body {
	background-image: url('jeremy-thomas-4dpAqfTbvKA-unsplash-2.jpg');
}

p {
	font-size: larger;
	color: #bdf4ff;
	background-color: rgba(0, 0, 0, 0.5);
	font-family: 'Inter', sans-serif;
	padding-left: 5rem;
	padding-right: 5rem;
}

a {
	color: #df818c;
}

a:visited {
	color: #81dfbe;
}

/* used 3w schools to get the image centered: https://www.w3schools.com/howto/howto_css_image_center.asp */
img {
	width: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}