{% extends "base_generic.html" %}

{% block title %}: Register{% endblock %}

{% block content %}

<h1>Register</h1>

<form method="post" action="{% url 'accounts:register' %}">
    {% csrf_token %}
    {% for field in form %}

      {{ field.label_tag }}
      <input
        type="{% if 'password' in field.label_tag %}password{% else %}text{% endif %}"
        name="{{ field.html_name }}"
        required
      />
      
    {% if field.errors %}
    {% for error in field.errors %}
    {{ error|escape }}
    {% endfor %}
    {% endif %}
    {% endfor %}
    <button type="submit">Register</button>
  </form>

{% endblock %}