h1 {
        color: whitesmoke;
        background-color: rgba(0, 0, 0, 0.75);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 50px;
        text-align: center;

    }

h2 {
        color: whitesmoke;
        background-color: rgba(0, 0, 0, 0.75);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        text-align: center;

}

/* Image or color */
body {
        background-image: url("vaniasleek.png");
        /* width: 800px */
        /* background-color: darkgray; */
}

p {
    font-size:x-large;
    color: whitesmoke;
    text-align: left;
    background-color: rgba(0, 0, 0, 1);
    font-family: 'Times New Roman', Times, serif;
    padding-left: 50rem;
    padding-right: 50rem;
    border: 5px solid whitesmoke;
    border-radius: 5px;

}

ul {

    /* padding-left: 50rem;
    padding-right: 50rem; */
    text-align: center;
    list-style-position: inside;
    background-color: rgba(0, 0, 0, 0.75);
}

li {
    font-size: larger;
    color: whitesmoke;
    /* text-align: justify; */
    background-color: rgba(0, 0, 0, 0.75);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}

a {
    color: goldenrod
}

a:visited {
    color: red

 }


 /* Thanks 2 W3Schools and Pete for css samples */
img {
    background-color: rgba(0, 0, 0, 1);
	width: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
    border: 5px solid whitesmoke;
    border-radius: 5px;
}