<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Provisions List</title>
</head>
<body>
    
    <h2>Incomplete</h2>
    <hr>
    <ul>
        {% for item in incomplete_items %}
            <li>{{ item.description }}</li>
        {% endfor %}
    </ul>
    

    <h2>Complete</h2>
    <hr>
    <ul>
         {% for item in completed_items %}
            <li>{{ item.description }}</li>
        {% endfor %}
    </ul>
    
       
</body>
</html>