/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import url(https://cdn.jsdelivr.net/npm/@mdi/font@6.6.96/css/materialdesignicons.min.css);

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.logo {
  min-height: 50px;
  max-height: 70px;
  max-width: 100%;
}

a.anchor {
  display: block;
  position: relative;
  top: -63px;
  visibility: hidden;
}

footer a {
  color: white;
  transition: 500ms;
}

footer a:hover {
  color: #c8e6c9;
  transition: 500ms;
}

.sidenav-overlay {
  z-index: 100;
}

nav li .nav-top-items {
  font-size: 13px;
  transition: 500ms;
}

nav li .nav-top-items:hover {
  color: #303F9F !important;
  transition: 500ms;
}

footer i {
  transition: 500ms;
}

footer i:hover {
  color: #c8e6c9;
  transition: 500ms;
}

.card .card-title {
  font-weight: 400;
}

.btn-custom {
  width: 100%;
}

#disclaimer {
  font-size: xx-small;
  font-style: italic;
}

a.disc-link {
  transition: 500ms;
}

a.disc-link:hover {
  transition: 500ms;
  color:#b71c1c !important;
}