<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Log In</title>
	<script src="https://cdn.tailwindcss.com/"></script>
</head>
<body>
	<h1 class="text-slate-800 text-center text-2xl py-5">Log In</h1>
	
	<form action="{% url 'users:login' %}" method="POST" class="m-32">
		{% csrf_token %}
		
		<label for="username" class="pr-5">Username:</label>
		<input type="text" id="username" name="username"
		class="border-black border-2 rounded-md mr-4"
		>
		
		<label for="password" class="pr-5">Password:</label>
		<input type="password" id="password" name="password"
		class="border-black border-2 rounded-md mr-4"
		>
		
		<input type="submit" value="Log In"
		class="
		border-zinc-700 border-2 rounded-md
		hover:bg-zinc-800 hover:text-white
		cursor-pointer px-3 ml-3
		"
		>
		<p class="text-red-800 pt-3">{{ message }}</p>
	</form>
	
</body>
</html>