<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daria</title>
</head>
<body>
    <H1>Daria Morgendorffer</H1>
    <h3>Bio:</h3>
    <p><a href="https://daria.fandom.com/wiki/Daria_Morgendorffer#Personality">Daria Morgendorffer</a>, a smart, sarcastic, somewhat misanthropic/cynical teenage girl who, along with her best friend, aspiring artist Jane Lane, observes the world around her.</p>
    <img src="https://static.wikia.nocookie.net/daria/images/e/eb/Dariacropped1.png" alt="Daria standing with arms crossed, wearing a green jacket, orange shirt, black skirt and combat boots">
    <h3>Places Lived:</h3>
    <ul>
        <li>Highland</li>
        <li>Lawndale</li>
      </ul>
    <h3>Quote:</h3>
    <p>"Don't worry, I don't have low self-esteem. I have low esteem for everyone else"</p>
</body>
</html>