@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

h1{
    color: #8fecff;
    font-family: 'Beau Rivage', cursive;
    font-size: 50px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    /* text-transform: uppercase; */
}

body{
    background-image: url()
}