h1{
    color: #8fecff;
    font-family: 'Fugaz One', cursive;
    font-size: 50px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    text-transform: uppercase;
}

body{
    background-image: url()
}