{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="border p-3 shadow">
    <form method="POST">
        {%  csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success w-100" type="submit" value="Submit">
    </form>
    <hr>
    {% for item in items %}
    <div class="border p-3 mb-3">
        <small>{{ item.date_created }}</small>
        <div class="row">
            <div class="col md-8">
                {% if item.complete == True %}
               <strike>{{ item.content }}</strike> 
               <div>
                <small class="fw-lighter" >Purchased: {{ item.date_completed }}</small>
               </div>
               {% else %}
               <p>{{ item.content }}</p> 
               {% endif %}
            </div>
            <div class="col-md-5">
                <a class="btn btn-info btn-sm" href="{% url 'grocery-complete' item.id %}">✔︎</a>
                <a class="btn btn-secondary btn-sm" href="{% url 'grocery-update' item.id %}">Edit</a>
                <a class="btn btn-danger btn-sm" href="{% url 'grocery-delete' item.id %}">Delete</a>

            </div>
        </div>

    </div>
    {% endfor %}
</div>

{% endblock %}