<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <script src="https://cdn.tailwindcss.com/"></script>
</head>
<body>
    <nav class="bg-sky-600 text-green-300 flex justify-between py-5 px-10">
        <h1 class="text-2xl">Chirp  --  Sign Up</h1>
        <a href="{% url 'posts:home' %}" class="
                    px-1 border-green-300 border-2 rounded-md
                    hover:bg-white-800 hover:text-zinc ml-1">Home</a>
    </nav>
    
    <div class="pt-1 ml-6 mr-72 mt-3 border-4 rounded-md border-sky-800">
        <h2 class="text-indigo-600 text-2xl mt-5 ml-10">SIGN UP</h2>
        <form action="{% url 'users:signup' %}" method="POST" class="m-6" enctype="multipart/form-data">
                {% csrf_token %}    
                <div class="flex justify-between w-1/2">
                    <label for="username" class="pr-5">Username:</label>
                    <input type="text" id="username" name="username" class="border-black border-2 rounded-md mr-4">
                </div>
                <div class="my-3 flex justify-between w-1/2">
                    <label for="password1" class="pr-5">Enter Password:</label>
                    <input type="password" id="password1" name="password1" class="border-black border-2 rounded-md mr-4">
                </div>
                <div class="my-3 flex justify-between w-1/2">
                    <label for="password2" class="pr-5">Re-Enter Password:</label>
                    <input type="password" id="password2" name="password2" class="border-black border-2 rounded-md mr-4">
                </div>
                <button type="submit" class="px-1 border-2 rounded-md border-cyan-700">Sign Up</button>
        </form>
    </div>
       </body>
</html>