<!DOCTYPE html>

<!-- This will be a fun blog about surfing. -->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css"> -->
        <link rel="stylesheet" type="text/css" href="../static/lab2_style.css">
        <title>Oahu Adventures</title>
    </head>
    <body>
        <div class="banner" id="banner">
            <a href="../templates/blog_home.html"><img class="banner-image" src="../static/tables_banner_01.jpg"></a>
            <h1 id="banner-top-left">Oahu</h1>
            <h1 id="banner-mid-left">Adventures</h2>
            <h2 id="banner-bottom-right" style="color:#0b293b;">Food & Beverage.</h2>
        </div>
        <div class="topnav">
            <a href="../templates/food_page.html" style="color:black; text-decoration: underline;">Food & Beverage.</a>
            <a href="../templates/recreation_page.html">Recreation.</a>
            <a href="../templates/kids_page.html">For Keiki.</a>
            <a href="../templates/about_blog.html">About.</a>
        </div>
      
</div>
        <main>
            <section>
                <div class="banner">
                    <a href="../templates/post_template.html"><img class="banner-image" src="../static/kammy_barrel.jpeg"></a>
                    <a id="banner-top-right" href="../templates/post_template.html">The Beach House</a>
                    <p>Rainbow trout Reef triggerfish airsac catfish alewife mud minnow golden shiner lyretail guppy powen redlip blenny. Dojo loach loweye catfish eelblenny rice eel scup viperfish. Mahseer Black sea bass, "river stingray kokanee halosaur mackerel, saury collared dogfish." Atlantic trout yellowmargin triggerfish tui chub. </p>
                </div>
                <div class="banner">
                    <a href="../templates/post_template.html"><img class="banner-image" src="../static/ib_pier.jpeg"></a>
                    <a id="banner-top-right" href="../templates/post_template.html">Yellow Fin</a>
                    <p>Rainbow trout Reef triggerfish airsac catfish alewife mud minnow golden shiner lyretail guppy powen redlip blenny. Dojo loach loweye catfish eelblenny rice eel scup viperfish. Mahseer Black sea bass, "river stingray kokanee halosaur mackerel, saury collared dogfish." Atlantic trout yellowmargin triggerfish tui chub. </p>
                </div>
                <div class="banner">
                    <a href="../templates/post_template.html"><img class="banner-image" src="../static/looking_up.jpeg"></a>
                    <a id="banner-top-right" href="../templates/post_template.html">Yellow Fin</a>
                    <p>Rainbow trout Reef triggerfish airsac catfish alewife mud minnow golden shiner lyretail guppy powen redlip blenny. Dojo loach loweye catfish eelblenny rice eel scup viperfish. Mahseer Black sea bass, "river stingray kokanee halosaur mackerel, saury collared dogfish." Atlantic trout yellowmargin triggerfish tui chub. </p>
                </div>
            </section>
        </main>

        <footer>
            <div class="bannerfooter">
                <a href="../templates/blog_home.html"><img class="banner-image" src="../static/footer_banner.jpg"></a>
                <h1 id="footer-top-left">Contact</h1>
            </div>
        </footer>
    </body>
</html>