<!DOCTYPE html>



<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css"> -->
        <link rel="stylesheet" type="text/css" href="../static/lab2_style.css">
        <title>Oahu Adventures: Blog Post</title>
    </head>
    <body>
        <div class="banner" id="banner">
            <a href="../templates/blog_home.html"><img class="banner-image" src="../static/tables_banner_01.jpg"></a>
            <h1 id="banner-top-left">Oahu</h1>
            <h1 id="banner-mid-left">Adventures</h2>
                <h2 id="banner-bottom-right" style="color:#0b293b;">Blog Section (food/recreation/kids)</h2>
        </div>
        <div class="topnav">
            <a href="../templates/food_page.html">Food & Beverage.</a>
            <a href="../templates/recreation_page.html">Recreation.</a>
            <a href="../templates/kids_page.html">For Keiki.</a>
            <a href="../templates/about_blog.html">About.</a>
        </div>
        <main>

            <section>
                <div class="category-article" style="background-color:#e5e5e5;">
                    <h2>Final Frontiers</h2>
                    <p class="article-body">Damage report! I've had twelve years to think about it. And if I had it to do over again, I would have grabbed the phaser and pointed it at you instead of them. Well, that's certainly good to know. Wouldn't that bring about chaos? I recommend you don't fire until you're within 40,000 kilometers. Fate. It protects fools, little children, and ships named "Enterprise." But the probability of making a six is no greater than that of rolling a seven. Flair is what marks the difference between artistry and mere competence. How long can two people talk about nothing? I'll alert the crew. Some days you get the bear, and some days the bear gets you. I'd like to think that I haven't changed those things, sir. What's a knock-out like you doing in a computer-generated gin joint like this? What? We're not at all alike! I am your worst nightmare! Congratulations - you just destroyed the Enterprise. </p>
                    <img class="article_img" src="../static/foliage.jpeg">
                    <p class="article-body">The unexpected is our normal routine. We finished our first sensor sweep of the neutral zone. And blowing into maximum warp speed, you appeared for an instant to be in two places at once. Then maybe you should consider this: if anything happens to them, Starfleet is going to want a full investigation. Your head is not an artifact! We have a saboteur aboard. Maybe we better talk out here; the observation lounge has turned into a swamp. Talk about going nowhere fast. Mr. Worf, you do remember how to fire phasers? Yes, absolutely, I do indeed concur, wholeheartedly! When has justice ever been as simple as a rule book? Your shields were failing, sir. The look in your eyes, I recognize it. You used to have it for me. Is it my imagination, or have tempers become a little frayed on the ship lately?</p>
                </div>
            </section>
        </main>

        <footer>
            <div class="bannerfooter">
                <a href="../templates/blog_home.html"><img class="banner-image" src="../static/footer_banner.jpg"></a>
                <h1 id="footer-top-left">Contact</h1>
            </div>
        </footer>
    </body>
</html>