<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery List: {{ grocery_item }}</title>
</head>
<!-- PAGE FOR EACH INDIVIDUAL ITEM -->

<body>
   <h1>Grocery list:</h1>
   <h3>{{ grocery_item }}</h3>
    {% if grocery_item.check_completed == False %}
    <form action="/grocery_list/complete/ {{ grocery_item.id }}">
        {% csrf_token %}
        <button type="submit">Check off list</button>
    </form>
    {% else %} 
    <h4>Marked completed at {{ grocery_item.done_date }}</h4>

    {% endif %}
    <form action="/grocery_list/ {{ grocery_item.id }}">
        {% csrf_token %}
        <button type="submit">Delete item</button>
    </form>
 
   <a href="/grocery_list">Go back</a>
</body>
</html>