<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab07</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="script.js" defer></script>
    <!-- <script src="https://cdn.tailwindcss.com/"></script> -->
</head>

<body>
    <div id="app">
        <h1 style="text-align:center">Exploring Space Craft</h1>
        <h3 style="text-align:center">MiniCapstone API</h3>
        
        <button @click="getCraft">Get First 10 Spacecraft</button>
        <div>
            <form @submit.prevent="getCraft" style="margin-top: 1rem;">
                <label for="searchCraft" >Search Craft by :</label>
                <select v-model="searchCraft" id="searchCraftId" required>
                    <option value="name">name</option>
                    <option value="manufacturer">manufacturer</option>
                    <option value="status">in-use</option>
                </select>
            </form>
        </div>

        <form @submit.prevent="searchKeyword" style="margin-top: 0.5rem; margin-bottom: 0.5rem">
            <label for="keyword-search">Enter keyword search for space craft: </label>
            <input v-model="searchTerm" type="text" id="keyword-search" autofocus>
            <input type="submit" value="Search" style="margin-left: 0.5rem">
        </form>


        <button @click="previousPage" v-if='previousUrl' style="margin: 0.5rem;">previous Page</button>
        <button @click="nextPage" v-if='nextUrl' style="margin: 0.5rem;">next Page</button>
        <div v-for="(craft,index) in spacecraft" id="craft" style="display:flex; justify-content:flex-right; width:95%; background-color: coral; margin-bottom: 0.5rem; border-radius: 20px;">
            <img style="max-height: 20rem; border-radius: 20px 0px 0px 20px" v-bind:src="craft.spacecraft_config.image_url">
            <ul>
                <li style="margin: 0.5rem;">{{ craft.name }}</li>
                <li style="margin: 0.5rem;">{{ craft.description }}</li>
                <li style="margin: 0.5rem;">{{ craft.status.name }}</li>
            </ul>
        </div>
        <div>
            <button @click="getLaunch">Launches</button>
        </div>



    </div>

    
</body>
</html>