* {
    margin: 0;
    padding: 0;
}
body {
    padding-top: 55px;
    color:beige;
    background-image: linear-gradient(to right, #e66465, #9198e5);
}

/* NAVBAR SECTION */


.navbar {
    background-color: #F29472;
    padding-bottom: .3rem;
    margin-top: 1%;
    margin-bottom: 1%;
    color: black;
}
.navbar-brand img {
    height: 40px;
    margin-left: 20px;
    border-radius: 10%;
}
.navbar-light .navbar-nav .nav-link 
{
    color:black;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover 
{
    color: rgba(0, 0, 0, 0.7);
}
.nav-item {
    color: #fff;
}
.navbar-toggler
{   
    border: 0px;
}
.dropdown-menu
{
    background-color: #F29472;
    color: black;
}

/* BANNER SECTION */
#banner
{
    padding-top: 5%;
}
.promo-title
{
    font-size: 40px;
}
.img-thumbnail 
{
    background-color: darkslategray;
    border: 1px;
}
#example-post
{
    background-color:rgba(0, 0, 0, 0.7);
    margin-left: 1rem;
    margin-right:1rem;
    padding-bottom: 1rem;
}

