{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
	{% block title %}
        <!-- title here -->
	{% endblock %}
</head>


<header class="tc pt4 pt5-ns">
    <a href="/"><img src="{% static 'chirp/images/logo.jpeg' %}" class="flex justify center br-100 ba b--black-10 h4 w4" alt="Chirp Logo"></a>
    {% block header %}
        <!-- header here -->
    {% endblock %}
  </header>


<body class="bg-black-20">
    
    {% block content %}
        <!-- content here -->
    {% endblock %}

</body>
</html>