{% extends 'chirp/core.html' %}

{% block title %}
<title>Chirp</title>
{% endblock %}


{% block header %}
    {% if request.user.is_authenticated %}
        <span class="flex content-center justify-around f6 black-80 fw6 ttu pa1 tracked">Logged in as {{ request.user.username }}</span>
        <a href="/users/logout" class="flex content-center justify-around link grow f6 black-80 fw6 ttu pa1 tracked">My Page</a>
        <a href="/users/logout" class="flex content-center justify-around link grow f6 black-80 fw6 ttu pa1 tracked">Logout</a>
        {% else %}
        <span class="flex content-center justify-around f6 black-80 fw6 ttu pa1 tracked">Log in to make chirps</span>
        <a href="/users/signup" class="flex content-center justify-around link grow f6 black-80 fw6 ttu pa1 tracked">Sign Up</a>
        <a href="/users/login" class="flex content-center justify-around link grow f6 black-80 fw6 ttu pa1 tracked w-auto">Login</a>
    {% endif %}
{% endblock %}



{% block content %}
<form action="{% url 'chirp:index' %}" method="POST" class="pa4 black-80 flex justify-center">
    {% csrf_token %}
    <div>
      <input type="submit" value="Chirp something:" class="black-80 br2 b ph3 pv2 input-reset ba b--black bg-light-gray grow pointer f6 dib">
      <textarea required maxlength="280" id="post_text" name="post_text" rows="3" cols="70" class="db border-box bg-light-gray w-100 measure ba b--black pa2 br2 mb2" aria-describedby="post_text-desc"></textarea>
      <small id="post_text-desc" class="f6 black-70">(280 characters maxium length.)</small>
    </div>
</form>


<article class="ph3 ph5-ns center" style="width:50rem ;">
    <h1 class="pt2 tc black-80 avenir">Recent Posts</h1>
    <ul class="list pl0">
        {% for post in all_chirps %}
            <li class="pb3 pb4-ns ph3 ph4-ns bb b--black-10">
                <h4 class="br2 tc db f6 mb1 bg-dark-blue gold">{{ post.user }} @ {{ post.date_time }}</h4>
                <span class="br2 center pa3 f6 db f5-ns lh-copy measure mv0 bg-black-10 ws-normal">{{ post.text }}</span>
            </li>
        {% endfor %}
    </ul>
</article>


{% endblock %}