<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Task List</title>
    <!-- Add your styles here! -->
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <div id="app">
        
        <h1>Vue Tasks</h1>
        <form @submit.prevent="addTask">
            <input v-model="newTask" placeholder="Enter Task">
            <button type="submit">Add Task</button>
        </form>

        <h3>Incomplete</h3>
        <ul>
            <li v-for="task in incompleteTasks">
                {{ task }}
        
                <button @click="removeTask(task)">Complete</button>
                <button>Delete</button>
            </li>
        </ul>

        <h3>Completed</h3>
        <ul>
            <li v-for="task in completeTasks">
                {{ task }}
    
                <button @click="removeTask(task)">Incomplete</button>
                <button @click="removeTask(task)">Delete</button>
            </li>
        </ul>
    </div>

    <!-- Include Vue from a CDN of your choice, I chose unpkg -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- Include your code here... -->
    <script src="/js/main.js"></script>
</body>
</html>