{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'posts/style.css' %}">


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>

    <h1> {{user}}'s Profile </h1>
    <br>
    <br>
    
    {% for chirp in my_chirps %}

        
        <b>{{chirp.user}}</b> {{chirp.date}}
        <br>
        <h2>{{chirp.content}}</h2>

    {% endfor %}



    
</body>
</html>