<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chirp||Home</title>
    <script src="https://cdn.tailwindcss.com/"></script>
</head>
<body class="bg-sky-50">
    <nav class="bg-sky-600 text-green-300 flex justify-between py-5 px-10">
        <h1 class="text-2xl">Chirp  ||  <a href="#">Home</a></h1>
        <div>
            {% if request.user.is_authenticated %}
            <Span>Welcome, {{ user.username }}</Span>
            <a href="{% url 'users:logout' %}" class="
                        px-1 border-green-300 border-2 rounded-md
                        hover:bg-white-800 hover:text-zinc ml-1">Log Out</a>
            {% else %}
            <a href="{% url 'users:signup' %}" class="
                        px-6 py-1 border-green-300 border-2 rounded-md
                        hover:bg-white-800 hover:text-zinc ml-1">Sign Up</a>
            <a href="{% url 'users:login' %}" class="
                        px-6 py-1 border-green-300 border-2 rounded-md
                        hover:bg-white-800 hover:text-zinc ml-1">Log In</a>
        {% endif %}
        </div>
    </nav>

    {% if request.user.is_authenticated %}  
    <div class="pt-1 ml-6 mr-72 mt-3 border-4 rounded-md border-sky-800">
        <h2 class="text-indigo-600 text-2xl mt-5 ml-10">Post Something: </h2>
        <form action="{% url 'posts:home' %}" method="POST" class="m-6" enctype="multipart/form-data">
                {% csrf_token %}  
                
                <div>
                    <div class="mb-3 xl:w-96">
                      <label for="message" class="form-label inline-block mb-2 text-gray-700"
                        >Message (max 128 characters)</label>
                      <textarea
                        class="
                          form-control
                          block
                          w-full
                          px-3
                          py-1.5
                          text-base
                          font-normal
                          text-gray-700
                          bg-white bg-clip-padding
                          border border-solid border-gray-300
                          rounded
                          transition
                          ease-in-out
                          m-0
                          focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                        "
                        id="message"
                        rows="3"
                        name="message"
                        maxlength="128"
                        autofocus
                        required
                      ></textarea>
                    </div>
                  </div>

                <!-- <div class="my-3 flex justify-between w-1/2">
                    <label for="message" class="pr-5">Message (max 128 characters):</label>
                    <input type="text" id="message" name="message" class="wrap py-10 border-black border-2 rounded-md mr-4" required autofocus>
                </div> -->
                <div class="flex justify-between">
                    <button type="submit" class="px-1 border-2 rounded-md border-cyan-700">Post</button>
                    <span>Signed in as: {{ user.username }}</span>
                </div>
                
        </form>
    </div>
    {% endif %}

    <h3 class="text-2xl mt-5 ml-10">Recent Posts</h3>
    <ul class="ml-25 mb-20">
        {% for post in posts %}
        <li class="pt-1 ml-6 mr-72 mt-3 border-4 rounded-md">
            <a href="/chirp/{{ post.author.id }}" class="ml-2 font-semibold text-cyan-600 underline">{{ post.author }}</a>
            <p class="ml-2">{{ post.post_text }}</p>
            <p class="ml-2 italic text-xs pb-1">{{ post.date_posted }}</p>
        </li>
        {% endfor %}

    </ul>
    <footer class="w-full h-10 bg-gray-900 static bottom-0">
      {% load static %}
      <p class="text-white text-center"> &copy Chirp - Class Koi</p>
    </footer>
    

</body>
</html>