{% extends 'chirp/core.html' %}

{% block title %}
<title>Login</title>
{% endblock %}


{% block header %}
    <a href="/users/signup" class="flex content-center justify-around link grow f6 black-80 fw6 ttu pa1 tracked">Sign Up</a>
{% endblock %}


{% block content %}
<body>
    <main class="pa1 black-80">
        <form class="measure center" action="{% url 'users:login' %}" method="POST">
            {% csrf_token %}
            <fieldset id="sign_in" class="ba b--transparent ph0 mh0">
                <legend class="f4 fw6 ph0 mh0">Sign In</legend>
                <div class="mt3">
                    <label class="db fw6 lh-copy f6" for="username">Username</label>
                    <input class="br2 pa2 input-reset ba bg-light-gray w-100" type="text" name="username"  id="username">
                </div>
                <div class="mv3">
                    <label class="db fw6 lh-copy f6" for="password">Password</label>
                    <input class="br2 pa2 input-reset ba bg-light-gray w-100" type="password" name="password"  id="password">
                </div>
          </fieldset>
          <div class="">
              <input class="br2 b ph3 pv2 input-reset ba b--black grow pointer f6 dib" type="submit" value="Sign In">
            </div>
            <div class="lh-copy mt3">
                <a href="/users/signup"" class="f6 link dim black db">Need an account? Click here to sign up!</a>
            </div>
            <p class="red">{{ message }}</p>
        </form>
    </main>
</body>
</html>
{% endblock %}