body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #012A3E;
    font-family: 'Roboto', sans-serif;
}
canvas {
    border: 5px solid #2f8050;
}
h1 {
    color: beige;
}
h2 {
    color: beige;
}

.ball {
    color: #2f8050;
    background-color: #2f8050;
}

.hidden {
    display: none;
}
.visible {
    display: block;
}



