<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Dos!</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="script.js" defer></script>
</head>
<body>
    
    <div id = "app">
        <h1> {{ headline }} </h1>

        <form v-on:submit.prevent="addTask">
            <label for="input-task"> add a task to the list </label>
            <input v-model="txtInput" type="text" placeholder="" id ="input-message">
            <button type="submit"> submit </button>
        </form>

        <br>
        <br>

        <h2>Incompleted Tasks</h2>

            <ul> 
            <li v-for="toDo in toDoInc">

                {{toDo.name}}

                <button type = "button" v-on:click.prevent = "compTaskAlt (toDo)">
                    
                    complete 

                </button>

                <button type="button" v-on:click.prevent = "remTaskAlt (toDo)"> 
                    
                    remove  

                </button>

            </li>

            </ul>


        <br>
        <br>


        <h2>Completed Tasks</h2>

            <ul> 
            <li v-for="toDo in toDoComp">

                {{toDo.name}}

                <button type = "button" v-on:click.prevent = "incompTaskAlt (toDo)">
                    
                    incomplete 

                </button>

                <button type="button" v-on:click.prevent = "remTaskAlt (toDo)"> 
                    
                    remove  

                </button>

            </li>

            </ul>

            <br>
            <br>
    
        <h2>Mark Complete</h2>

        <form v-on:submit.prevent="compTask">
            <label for="input-task"> complete a task</label>
            <input v-model="compInput" type="text" placeholder="" id ="input-message">
            <button type="submit"> submit </button>
        </form>

        <br>
        <br>

        <h2>Mark Incomplete</h2>

        <form v-on:submit.prevent="incompTask">
            <label for="input-task"> complete a task</label>
            <input v-model="incompInput" type="text" placeholder="" id ="input-message">
            <button type="submit"> submit </button>
        </form>

        <br>
        <br>
            
        <h2>Remove</h2>

        <form v-on:submit.prevent="remTask">
            <label for="input-task"> complete a task</label>
            <input v-model="remInput" type="text" placeholder="" id ="input-message">
            <button type="submit"> submit </button>
        </form>


        
    
        </div>

</body>
</html>


<!-- v-on:click.prevent = "remTask" -->